<div class="input-group input-group-lg">
    <input type="text" class="form-control" placeholder="Description" aria-label="Description"
           aria-describedby="save-todo" data-ng-model="createTodo.new.description">
    <a id="save-todo" class="input-group-addon" href="javascript:;" data-ng-click="createTodo.saveNew()">
        <i class="fa fa-save"></i>
    </a>
    <input type="number" class="form-control" placeholder="Priority" aria-label="Priority"
           data-ng-model="createTodo.new.priority">
</div>